service contirearcam /system/bin/contirearcam
    class core
    user root
    oneshot
    disabled

on property:init.svc.autolinq=running && property:init.svc.surfaceflinger=running
    start contirearcam